.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-top: 15px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip.active .tooltiptext {
    visibility: visible;
  }
input[type="text"],textarea {
	width:10em;
}